body{
	background-color: #c5a651;
	
}

#titre{
	padding: 10px;
	margin: 40px;
	background-color:#57421d;
	text-align: center;
	font-family: serif;
	font-size: 35px;
	color: #cc8567;
	border: 1px solid;
    border-radius:10px 10px 10px 10px;
    box-shadow:1px 0px 10px black;
}

ul{
	margin: 40px;
	padding: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

li{
	margin:1px;
	background-color: #57421d;
	color: #cc8567;
	height: 39px;
	width: 39px;
	border: 1px solid black;
	list-style-type: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
    border-radius:10px 10px 10px 10px;
}
